/*---COLORS---*/
$bgColor: #efeae4;
$lightBgColor: #fcda02;
$textColor: #494949;
$contrastColor:white;
$secondaryColor: #1954a6;
$terciaryColor: #fcda02;
$buttonColor: #1954a6;
$secondaryTextColor: #FFFFFF;
$headerSelectorColor: gray;
$overlayColor:rgba(0,0,0,0.4);
//Links
$highlightColor: darken($secondaryColor, 25%);
$mlhHardwareBtn: $highlightColor;

$fbColor:#3B5998;
$ytColor:#CC181E;
$twColor:#1DA1F2;
$igColor:#C32AA3;
$gtColor:#333333;
$meColor:#02B875;

/*---PATHS---*/
$fontsDir: "../fonts";
$imgDir: "../img";


/*---MISC---*/
$fadeTime: 300ms;
$asideOpenTime: 300ms;
$timerAnimLength: 300ms;
$happenedOpacity: 0.5;
